<form method="post" action="{{ path('app_backoffice_quote_delete', {'id': quote.id}) }}" onsubmit="return confirm('Etes-vous sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quote.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
