{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <main>
    
    <div class="main-content">
    <h1>Backoffice Kaamel'O'tt</h1>

    <p>Bienvenue sur le backoffice de Kaamel'O'tt !</p>
    </div>
    </main>

{% endblock %}
