{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Accueil{% endblock %}

{% block body %}
<main>
    <div class="text-center">
    
    {# todo dynamiser la page quand on aura la BDD fonctionnelle #}
    
    <p class="citation">on est en statique “ Admirez-nous un peu après trente ans de souplesse… Trente ans d’éducation laxiste !… Entre la fille princesse qui abandonne le trône pour mettre les bouts dans la forêt avec un jean-foutre et le fils chevalier qui sait pas tenir sa cuillère et qui est pas foutu de se lever avant midi, vous verrez qu’à force d’être souples, on va finir par passer définitivement pour des romanos ! Et ils se sont pas levés ! ”</p>
    <h6 class="name">Dame Sélie</h6>
    </div>

    <div class="text-center">
    <img class="img-fluid" src="./img/kamelott.jpeg">
    </div>

    <div class="text-center"> 
    <p class="citation">“ Ah y a pas à dire, dès qu'il y a du dessert, le repas est tout de suite plus chaleureux ! ” </p> <h6 class="name">Arthur Pendragon</h6>
    </div>
</main>

{% endblock %}
