{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Mentions Légales{% endblock %}

{% block body %}
<main class="p-3">
    <div class="text-center p-3  border-0 bd-example">
    <h2 class="name main__item text-secondary">Mentions Légales</h2>
    {# todo dynamiser la page quand on aura la BDD fonctionnelle #}

    <div class="row  row-cols-1 row-cols-md-3 m-3">
    <div class=" col mb-3 ">
        <div class="card text-bg-secondary mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title title">édition</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Projet d'apothéose</h6>
                <p class="card-text"> <span class="title"> Kaamel'O'tt </span> est géré par toute l'équipe de Duck-Girl 100% spé Symfo de la Promo Nazca, c'est un sujet de fin de formation qui est utilisé pour mettre en valeur nos compétences ! </p>
            </div>
        </div>
    </div>
    <div class=" col mb-3 ">
        <div class="card text-bg-secondary mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title title">Hebergement</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">VM Kourou</h6>
                <p class="card-text">Ce serveur cloud est mis à disposition par O'clock pour que les apprenants puissent déployer leurs projet.</p>
            </div>
        </div>
    </div>
    <div class=" col mb-3 ">
        <div class="card text-bg-secondary mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title title">Propriété intellectuelle et droit d'auteur</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"> xxxxxxx</h6>
                <p class="card-text">lorem</p>
            </div>
        </div>
    </div>
    
   
</main>

{% endblock %}