{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt -Mentions Légales{% endblock %}

{% block body %}
<main>
    <div class="text-center">
    
    {# todo dynamiser la page quand on aura la BDD fonctionnelle #}
    
    <h6 class="title">Mentions Légales</h6>
    
    <p class="citation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestias ducimus dolorem beatae voluptatibus pariatur accusantium necessitatibus. Doloribus, consequatur? Amet soluta ea illo accusamus ipsam tenetur facilis, dolore vero itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perspiciatis atque quam deserunt ut, autem provident facilis saepe? Ipsum iusto possimus rem earum reprehenderit quibusdam fugit quidem optio ipsa eligendi!</p> 
    </div>
</main>

{% endblock %}