body {
    font-family: 'Times New Roman', serif;
    background-image: url(./img/pexels-pixabay-221516.jpg) ;
    /* height: 100vh; */
    /* width:100vw; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Cinzel Decorative', cursive, 'Times New Roman';
}

.container {
    background-color: rgba(240, 248, 255, 0.3);
    /* opacity: 0.5; */
}

.navbar {
    background-color: rgba(243, 245, 245, 0.7);
}



.logo {
    margin: auto;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(243, 245, 245, 0.6);
}

.name {
    font-weight: 700 ;
}

.citation{
    padding: 20px 20px ;    
}

.img {
    width: 100%;
}

footer {
    margin-top: 2rem;
}

.footer {
    display : flex;
    justify-content: space-between;
    padding: 0 20px;
    border-top: solid 1px lightgrey;
}

footer > p {
    text-align: center;
    border-top: solid 1px lightgrey;
}

footer > a:hover {
    text-decoration: none;
    text-shadow: 4px 4px 10px black;
} 

@media screen and (max-width: 375px) {
    
    footer  {
        font-size : 9px;
    }

    .citation {
        font-size : 9px;
    }
}
