{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Utilisateurs{% endblock %}

{% block body %}
<main>
    <div class="main-content">
        <h1>Modification Utilisateur {{ user.email }}</h1>
    </div>
    <div class="content">
        <a href="{{ path('app_backoffice_user_browse') }}" class="btn btn-primary">Retour à la liste</a>

        {{ include('backoffice/user/_form.html.twig', {'button_label': 'Valider les modifications'}) }}
    </div>
</main> 
{% endblock %}
