{% extends 'base.html.twig' %}

{% block title %}Modifier un Personnage{% endblock %}

{% block body %}
    <h1>Modifier un Personnage</h1>

    <a href="{{ path('app_backoffice_personage_browse') }}" class="btn btn-primary">Retour à la liste</a>

    {{ include('backoffice/personage/_form.html.twig', {'button_label': 'Update'}) }}

    

    
{% endblock %}
