{% extends 'base.html.twig' %}

{% block title %}Nouveau personnage{% endblock %}

{% block body %}
    <h1>Créer un nouveau personnage</h1>

    <a href="{{ path('app_backoffice_personage_browse') }}" class="btn btn-primary">Retour à la liste</a>

    {{ include('backoffice/personage/_form.html.twig') }}

    
{% endblock %}
