/*
  styles-quizz.css
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

#questions-container, #resultat-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#question, #resultat {
  position: relative;
  width: 500px;
  height: 100%;
  min-width: 500px;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid rgba(13, 110, 221, 0.712);
  border-radius: 10px;
  background-color: white;
}

#answers, #score {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px 20px;
  margin-bottom: 20px;
}

.answer {
  border: none;
  font-size: 18px;
  background: none;
  padding: 10px 5px;
  border: 1px solid rgba(13, 110, 221, 0.712);
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.answer:hover {
  background: rgba(13, 110, 221, 0.712);
  color: white;
  transition: all 200ms ease-out;
}
 
#title {
  padding-top: 1rem;
  margin-bottom: 40px;
  text-align: center;
}
     
#start-btn, #score-container, #againButton {
  position: sticky;
  right: 40px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px 15px;
  min-width: 100px;
  min-height: 45px;
  border-radius: 10px;
}

#start-btn{
  background: green;
  font-weight: bold;
  color: white;
}
 
#score-container {
  background: rgb(13, 110, 221);
  font-weight: bold;
  color: white;
}

#againButton {
  background-color:rgb(225,224,174);
  color: black;
}
