body {
    font-family: 'Times New Roman', serif;
    background-image: url(../img/pexels-pixabay-221516.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Cinzel Decorative', cursive, 'Times New Roman';
}

.container {
    /* ? j'ai rajouté le margin top pour avoir le même retrait en haut que l'on a en bas car pas réussi à virer le bas */
    margin-top: 20px;
    padding:  0;
    background-color: rgba(240, 248, 255, 0.3);
}

.logo {
    margin: auto;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(243, 245, 245, 0.6);
}

.navbar {
    background-color: rgba(243, 245, 245, 0.2);
}

.icone {
    width: 68px;
    height: 68px;
    object-fit: cover;
}

.main {
    margin: 0 20px ;    
}

.main__item {
    margin: 20px 0;
    text-align: center;
}

.main__item--img {
    padding-left: 15px;
}

.main-content {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.name {
    font-weight: 700 ;
}

.citation{
    padding: 20px 20px ;    
}

.blockquote {
    font-size: 1rem;
}

.addQuote_position {
    display:flex;
    justify-content: center;
}

.addQuote_size{
    margin:2rem;
    width: 80%; 
}

.addQuoteBtn{
    margin-bottom: 1rem;
    background : #6c757d;
}

a {
    text-decoration: none; 
    color: black;
}  

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}


.img {
    width: 100%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font-size: 0.7rem;
    padding: 3px;
    text-align: center;
}

.iconono {
    word-wrap: break-word;
}

.searchLinks {
   
    color:black;
}

.searchLinks:hover {
    color:rgb(80, 79, 79);
    
}

.login_on{
    margin: 3rem;
}

.deconnection:hover{
    color:rgb(128, 36, 36);
} 

.login_position {
    display:flex;
    justify-content: center;
}

.login_size{
    margin:2rem;
    width: 50%; 
}

.loginBtn{
    background : #6c757d;
    margin-top:1rem;
}


footer {
    margin-top: 2rem;
     color: white; 
}

.footer {
    display : flex;
    justify-content: space-between;
    padding: 0 20px;
    border-top: solid 1px lightgrey;
}

footer > p {
    text-align: center;
    border-top: solid 1px lightgrey;
}

.footer > a:hover {
    
    text-decoration: none;
    text-shadow: 4px 4px 10px black;
} 

.invalid-feedback {
    color: blue;
    text-shadow: 1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, -1px 0 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;;
}


@media screen and (max-width: 375px) {
    
    footer  {
        font-size : 9px;
    }

    .citation {
        font-size : 9px;
    }

    .blockquote {
        font-size: 0.8rem;
    }

    .main__item--text {
        font-size: 0.8rem;
    }
}



