body {
    font-family: 'Times New Roman', serif;
    background-image: url(../img/background/excalibur-g96a16a51f_1920.jpg) ;
    /* height: 100vh; */
    /* width:100vw; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.container {
    /* ? j'ai rajouté le margin top pour avoir le même retrait en haut que l'on a en bas car pas réussi à virer le bas */
    margin-top: 20px;
     padding:  0;
    background-color: rgba(240, 248, 255, 0.5);
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Cinzel Decorative', cursive, 'Times New Roman';
}

.main {
    margin: 0 20px ;    
}


.main-content {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content {
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.5);
}


.main-bo {
    padding: 2rem 10rem 2rem 10rem;
    display:flex;
    justify-content: space-around;
    
}



.form_position{
    display:flex;
    justify-content: center;
}

.form_size{
    padding:1rem;
    width: 80%; 
}

.btn{
    margin-bottom:0.5rem;
}

.navbar {
    background-color: rgba(243, 245, 245, 0.1);
    
}

.logo {
    margin: auto;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: rgba(243, 245, 245, 0.6); */
    background-color: rgba(243, 245, 245, 0.6);
}


.searchLinks {
   
    color:midnightblue;
}

.searchLinks:hover {
    color: brown;
}

footer {
    margin-top: 2rem;
    color: white;
}

.footer {
    display : flex;
    justify-content: space-between;
    padding: 0 20px;
    border-top: solid 1px lightgrey;
}

footer > p {
    text-align: center;
    border-top: solid 1px lightgrey;
}

.footer > a:hover {
    text-decoration: none;
    text-shadow: 4px 4px 10px black;
} 



@media screen and (max-width: 375px) {
    
    footer  {
        font-size : 9px;
    }
}



