body {
    font-family: 'Times New Roman', serif;
    background-image: url(./img/pexels-pixabay-221516.jpg) ;
    /* height: 100vh; */
    /* width:100vw; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Cinzel Decorative', cursive, 'Times New Roman';
}

.container {
    /* ? j'ai rajouté le margin top pour avoir le même retrait en haut que l'on a en bas car pas réussi à virer le bas */
    margin-top: 20px;
    padding:  0;
    background-color: rgba(240, 248, 255, 0.3);
}

.navbar {
    background-color: rgba(243, 245, 245, 0.2);
}

.logo {
    margin: auto;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(243, 245, 245, 0.6);
}

.name {
    font-weight: 700 ;
}

.citation{
    padding: 20px 20px ;    
}

.main {
    margin: 0 20px ;    
}

.img {
    width: 100%;
}

footer {
    margin-top: 2rem;
    color: white;
}

.footer {
    display : flex;
    justify-content: space-between;
    padding: 0 20px;
    border-top: solid 1px lightgrey;
}

footer > p {
    text-align: center;
    border-top: solid 1px lightgrey;
}

footer > a:hover {
    text-decoration: none;
    text-shadow: 4px 4px 10px black;
} 

.main__item {
    margin: 20px 0;
    text-align: center;
}

.blockquote {
    font-size: 1rem;
}

.main__item--img {
    padding-left: 15px;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    }

/* .card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(xs) {
        column-count: 1;
    }
    } */


@media screen and (max-width: 768px) {
    
    footer  {
        font-size : 0.9rem;
    }

    .citation {
        font-size : 0.9rem;
    }

    .title {
        font-size : 0.9rem;
    }

    .blockquote {
        font-size: 0.9rem;
    }

    .main__item--text {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 425px) {
    
    footer  {
        font-size : 0.7rem;
    }

    .citation {
        font-size : 0.7rem;
    }

    .title {
        font-size : 0.7rem;
    }

    .blockquote {
        font-size: 0.8rem;
    }

    .main__item--text {
        font-size: 0.8rem;
    }
}
