{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}

<main>

    <div class="row row-cols-1 row-cols-md-4 m-3">

        <div class="col mb-3">
            <a href="character.html" class="nav-link">
            <div class="card">
                <img src="./img/personage/Arthur.jpg" class="card-img-top" alt="Arthur">
                <div class="card-body">
                    <h6 class="card-title">Arthur</h6>
                </div>
            </div>
            </a>
        </div>

        <div class="col mb-3">
            <a href="character.html" class="nav-link">
            <div class="card">
                <img src="./img/personage/Bohort.jpg" class="card-img-top" alt="Bohort">
                <div class="card-body">
                    <h6 class="card-title">Bohort</h6>
                </div>
            </div>
            </a>
        </div>

        <div class="col mb-3">
            <a href="character.html" class="nav-link">
            <div class="card">
                <img src="./img/personage/Dagonet.jpg" class="card-img-top" alt="Dagonet">
                <div class="card-body">
                    <h6 class="card-title">Dagonet</h6>
                </div>
            </div>
            </a>
        </div>

        <div class="col mb-3">
            <a href="character.html" class="nav-link">
            <div class="card">
                <img src="./img/personage/Guenievre.jpg" class="card-img-top" alt="Guenièvre">
                <div class="card-body">
                    <h6 class="card-title">Guenièvre</h6>
                </div>
            </div>
            </a>
        </div>
        
        <div class="col mb-3">
            <a href="character.html" class="nav-link">
            <div class="card">
                <img src="./img/personage/Horsa.jpg" class="card-img-top" alt="Horsa">
                <div class="card-body">
                    <h6 class="card-title">Horsa</h6>
                </div>
            </div>
            </a>
        </div>

    </div>

</main>

{% endblock %}
