{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Quizz{% endblock %}

{% block body %}

<main class="main">

    <h2 class="main__item">Kaamel'O'tt Quizz</h2>
    
    <div id="app-container">
        <button id="start-btn">Start</button>        
        <div id="questions-container"></div>
    </div>


</main>

{% endblock %}   