{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Quizz{% endblock %}

{% block body %}

    <div id="app-container">
        <button id="start-btn">Start</button>
        <div id="score-container">Score: 0</div>
        <h2 id="app-title">Quizz 1 Kaamel'O'tt</h2>
        <div id="questions-container"></div>
    </div>

{% endblock %}
