{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - {{ quizz.title }}{% endblock %}

{% block body %}

<main class="main p-3">

    <h2 class="main__item">Kaamel'O'tt {{ quizz.title }}</h2>
    <div id="app-container">
        <div id="start"></div>
        <div class="score_position">
        <button id="score-container">Score: 0</button>        
        </div>
        <div id="questions-container">
            <div id="question">
                <h4 id="title"></h4>
                <div id="answers"></div> 
            </div>
        </div>

        <div id="resultat-container">
            <div id="resultat">
                <div id="score"></div>
                <div id="profil"></div>
                <div id="again"></div>
                <div id="user">
                    <input id="userId" value="{{app.user.id}}" style ="display: none">
                </div>
            </div>
        </div>
        
    </div>

</main>

{% endblock %}    
