<form method="post" action="{{ path('app_backoffice_question_delete', {'id': question.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette question?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
