{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Quizz{% endblock %}

{% block body %}
<main>
    <div class="main-content">
        <h1>Créer un nouveau quizz</h1>
    </div>

    <div class="content">
        <a href="{{ path('app_backoffice_quizz_browse') }}" class="btn btn-primary">Retour à la liste</a>

        {{ include('backoffice/quizz/_form.html.twig') }}
    </div>
</main>
{% endblock %}
