{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt{% endblock %}

{% block body %}
<main  class="p-3">
    <div class="text-center mb-3">
    
    <h2 class="main__item">La Citation du Moment</h2>
    {# todo dynamiser la page quand on aura la BDD fonctionnelle il faut aussi gérer rating et favorite #}
    {% set quote = randomQuote %}
    {% include 'partials/_card_quote.html.twig' %}

    <div class="text-center">
    <img class="img-fluid" src="./img/kamelott.jpeg">
    </div>

    <div class="card mt-3 mb-3"> 
        <div class="card-body text-bg-secondary">
            <h5 class="card-title">les Dix Dernières Citations</h5>
            {% for key, quote in last10Quotes %}
             {# TODO: GERER LES PROPRIETES NULLES POUR UN AJOUT DE CITATION #}
                {% include 'partials/_card_quote.html.twig' %}
            {% endfor %}
        </div>
    </div>

</main>

{% endblock %}
