{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Mentions légales{% endblock %}

{% block body %}
<main class="p-3">

    <div class="text-center p-3  border-0 bd-example">
<<<<<<< HEAD

=======
>>>>>>> cleaningCode
        <h2 class="name main__item text-secondary">Mentions Légales</h2>
    
        <div class=" col mb-3 "> 
            <div class="card text-bg-secondary mb-3" >
                <div class="card-body">
                    <h5 class="card-title title">édition</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Projet d'apothéose</h6>
                    <p class="card-text"> <span class="title"> Kaamel'O'tt </span> est géré par toute l'équipe de Duck-Girl 100% spé Symfo de la Promo Nazca, c'est un sujet de fin de formation qui est utilisé comme support pour mettre en valeur nos compétences ! </p>
                </div>
            </div>
        </div>
<<<<<<< HEAD
=======

>>>>>>> cleaningCode
        <div class=" col mb-3 ">
            <div class="card text-bg-secondary mb-3" >
                <div class="card-body">
                    <h5 class="card-title title">Hebergement</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">VM Kourou</h6>
                    <p class="card-text">Ce serveur cloud est mis à disposition par O'clock pour que les apprenants puissent déployer leurs projet.</p>
                </div>
            </div>
        </div>
<<<<<<< HEAD
=======

>>>>>>> cleaningCode
        <div class=" col mb-3 ">
            <div class="card text-bg-secondary mb-3" >
                <div class="card-body">
                    <h5 class="card-title title">Propriété intellectuelle et droit d'auteur</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><a href="{{ path("app_home_iconographyIndex") }}" class="nav-link link-opacity-25-hover" role="button" >Iconographies</a></h6>
                    <p class="card-text">Le "Fair use" est un ensemble de règles de droit, d'origine législative et jurisprudentielle, qui apportent des limitations et des exceptions aux droits exclusifs de l'auteur sur son œuvre (droit d'auteur). Il essaie de prendre en compte à la fois les intérêts des bénéficiaires des droits d'auteur et l'intérêt public, pour la distribution de travaux créatifs, en autorisant certains usages qui seraient, autrement, considérés comme illégaux. Pour celà nous avons joint à chaque image utiliser une iconographie<a href="{{ path("app_home_iconographyIndex") }}" class="nav-link link-opacity-25-hover" role="button" >Iconographies</a></p>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}