{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Mentions Légales{% endblock %}

{% block body %}
<main class="p-3">
    <div class="text-center p-3  border-0 bd-example">
    <h2 class="name main__item text-secondary">Mentions Légales</h2>
    {# todo finir le BLABLABLA  #}

    {# <div class="row  row-cols-1 row-cols-md-3 m-3"> #}
    <div class=" col mb-3 "> 
        <div class="card text-bg-secondary mb-3" >
            <div class="card-body">
                <h5 class="card-title title">édition</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Projet d'apothéose</h6>
                <p class="card-text"> <span class="title"> Kaamel'O'tt </span> est géré par toute l'équipe de Duck-Girl 100% spé Symfo de la Promo Nazca, c'est un sujet de fin de formation qui est utilisé comme support pour mettre en valeur nos compétences ! </p>
            </div>
        </div>
    </div>
    <div class=" col mb-3 ">
        <div class="card text-bg-secondary mb-3" >
            <div class="card-body">
                <h5 class="card-title title">Hebergement</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">VM Kourou</h6>
                <p class="card-text">Ce serveur cloud est mis à disposition par O'clock pour que les apprenants puissent déployer leurs projet.</p>
            </div>
        </div>
    </div>
    <div class=" col mb-3 ">
        <div class="card text-bg-secondary mb-3" >
            <div class="card-body">
                <h5 class="card-title title">Propriété intellectuelle et droit d'auteur</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"> <a href="{{ path("app_home_iconographyIndex") }}" class="nav-link link-opacity-25-hover" role="button" >Iconographies</a></h6>
                <p class="card-text">Le "Fair use" est un ensemble de règles de droit, d'origine législative et jurisprudentielle, qui apportent des limitations et des exceptions aux droits exclusifs de l'auteur sur son œuvre (droit d'auteur). Il essaie de prendre en compte à la fois les intérêts des bénéficiaires des droits d'auteur et l'intérêt public, pour la distribution de travaux créatifs, en autorisant certains usages qui seraient, autrement, considérés comme illégaux. Pour celà nous avons joint à chaque image utiliser une iconographie<a href="{{ path("app_home_iconographyIndex") }}" class="nav-link link-opacity-25-hover" role="button" >Iconographies</a></p>
            </div>
        </div>
    {# </div> #}
     <h6 class="title">Mentions Légales</h6>
    
    <p class="citation">Un exemple à changer : 
    Mentions légales

Le présent site internet est la propriété de [Nom de l'entreprise ou du propriétaire du site], domicilié(e) [Adresse postale complète], immatriculé(e) au Registre du Commerce et des Sociétés sous le numéro [Numéro RCS] et représenté(e) par [Nom et prénom du représentant légal].

Le directeur de la publication est [Nom et prénom du directeur de la publication], agissant en qualité de [Fonction du directeur de la publication].

Le site est hébergé par [Nom et adresse de l'hébergeur], immatriculé(e) au Registre du Commerce et des Sociétés sous le numéro [Numéro RCS].

Le contenu du site, y compris les textes, images, vidéos, graphismes, logos et autres éléments, est protégé par les lois sur la propriété intellectuelle et demeure la propriété exclusive de Alexandre Astier ou de ses partenaires. Toute reproduction, représentation, modification, publication, transmission ou exploitation de ce contenu, en tout ou en partie, sans l'autorisation écrite préalable d'Alexandre Astier est strictement interdite et constitue une contrefaçon susceptible d'engager la responsabilité civile et pénale de son auteur.

Les images utilisées sur ce site sont soit la propriété de [Nom de l'entreprise ou du propriétaire du site], soit utilisées avec l'autorisation de leurs propriétaires respectifs. Toute utilisation non autorisée de ces images est strictement interdite et peut entraîner des poursuites judiciaires.

Pour toute demande d'autorisation de reproduction ou d'utilisation de tout élément du site, veuillez contacter [Adresse email ou formulaire de contact].

Le présent site internet a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) sous le numéro [Numéro de déclaration]. Les informations collectées sur ce site sont destinées à [Finalité de la collecte des données]. Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification, de suppression et d'opposition aux données vous concernant. Vous pouvez exercer ces droits en écrivant à [Adresse postale ou email].

Le présent texte de mentions légales peut être modifié à tout moment. Il vous est donc conseillé de le consulter régulièrement.</p> 
   
</main>

{% endblock %}