{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1>Create new Episode</h1>

    {{ include('backoffice/episode/_form.html.twig') }}

    <a href="{{ path('app_backoffice_episode_browse') }}">back to list</a>
{% endblock %}
