{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Episodes{% endblock %}

{% block body %}
<main>
    <div class="main-content">
        <h1>Créer un nouvel épisode</h1>
    </div>  
    <div class="content">
        <a href="{{ path('app_backoffice_episode_browse') }}" class="btn btn-primary">retour à la liste</a>
        {{ include('backoffice/episode/_form.html.twig') }}
    </div>
</main>    
{% endblock %}
