<form method="post" action="{{ path('app_backoffice_season_delete', {'id': season.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette saison?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>