{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
    <h1>Modification saison {{ season.id }}</h1>

    <a href="{{ path('app_backoffice_season_browse') }}" class="btn btn-primary">retour à la liste</a>

    {{ include('backoffice/season/_form.html.twig', {'button_label': 'Valider les modifications'}) }}


    
{% endblock %}