{% extends 'base.html.twig' %}

{% block body %}

<main>

        <div class="main-content">
            <h1>Erreur 404: non  m-5trouvé <h1>
        </div>

        <div class="text-center">
            <p>"Le Graal, je sais pas où il est mais il va y rester un moment, c'est moi qui vous l'dis !" <p>
            <p><em>Alexandre Astier, Kaamelott, Livre III, La mission, écrit par Alexandre Astier</em></p>
        </div>

</main>

{% endblock %}
