{% extends 'base.html.twig' %}

{% block body %}
<main>

    <div>
        <div class="main-content text-center">
        <h1>403 : Accès refusé </h1>
         </div>

        <div class="text-center">
        <p> Dame Séli vous refuse l'accès. Et vous refuse aussi des couvertures. </p>
        </div>

   
    </div>
    </main>
{% endblock %}