{% extends 'base.html.twig' %}

{% block body %}

<main class="container">

        <div class="main-content ">
            <h1>403 : Accès refusé </h1>
        </div>

        <div class="text-center">
            <p> Dame Séli vous refuse l'accès. Et vous refuse aussi des couvertures. </p>
        </div>   

</main>

{% endblock %}