{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Utilisateur{% endblock %}

{% block body %}

<main>

<div class="container">

<h1 class="mt-3 text-center">Bonjour {{ user.email }} </h1>

{# Résulats du dernier quizz #}
<p>Résultats de votre dernier quizz : </p>

<a class="btn btn-success" href="{{ path("user_edit_profile", {"id" : user.id}) }}">Modifier mon profil</a>

<button class="btn btn-danger">Supprimer mon profil</button>

</div>

</main>

{% endblock %}