{% extends 'base.html.twig' %}

{% block title %}Kaamel'O'tt - Utilisateur{% endblock %}

{% block body %}

<main  class="p-3">
    <div class="text-center mb-3">

    <h2 class="main__item">Bonjour {{ user.email }} </h2>
        <div class="card mt-3 mb-3"> 
            <div class="card-body text-bg-secondary">
                {# Résulats du dernier quizz #}
                <p class="m-3 fs-3">Résultats de votre dernier quizz : </p>
                <div class="d-flex justify-content-around">
                    <a class="btn btn-lg btn-outline-light" href="{{ path("user_edit_profile", {"id" : user.id}) }}">Modifier mon profil</a>

                   <div class="mb-3">
                        {{ include('frontoffice/user/_delete_form.html.twig') }}
                    </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}